[Unit]
Description=Run GCS cookie pull every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
Persistent=true
Unit=gcs-cookie-pull.service

[Install]
WantedBy=timers.target
