# Telegram Ayarları
TELEGRAM_BOT_TOKEN=123456789:ABCDefghIJKLmnopQRSTuvwxyz
TELEGRAM_CHAT_ID=-100123456789

# Sahibinden (Yurtdışı sunucu / IP ban için eğer form doldurtturuyorsa)
SAHIBINDEN_EMAIL=ornek@domain.com
SAHIBINDEN_PASS=ornek_sifre

# Scraper Ayarları
SCRAPER_ENGINE=drission # 'drission' veya 'curl' kullanılabilir (Cloudflare'a göre hangisi o an daha güvenilir ise)
PRICE_SEGMENTS_ENABLED=True
MAX_PAGES_PER_SEGMENT=20
REQUEST_DELAY=3.5
